body{
    background-color: #ffffff;
}
h1{
    font-family: 'Poppins', sans-serif;
}
p, span, strong, a, input, textarea, li{
    font-family: 'Cambay', sans-serif;
}


/* navbar */
.navbar{
    background-color:#acd1af;
}

.navbar li > a:hover{
    background-color:#579449;
    border-radius: 4px;
    color: white;
}

.carousel-caption button{
     background-color: #acd1af;
     font-weight: 500;
}
.carousel-caption button:hover{
    background-color: #e1f5e1;
    
}
/* toast section */
.toast{
    position: absolute;
    right: 0;
}
/* pakage section */
.package h1{
    background-color: #e1f5e1;
    color: #315a39;
}
.card{
    transition: transform 0.4s;
}
.card:hover{
   transform: scale(1.03);
}
.custom-btn{
background-color: #7a9f79;
color: white;

}
.card button:hover{
background-color:#acd1af ;

}
.custom-card-style{
    background-color:#315e26 ;
    color: white;
}
.little-btn{
    background-color: rgb(207, 55, 0);
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
     right: 0;
    top: -12px;

}
.other-card{
    background-color: #e1f5e1 !important;
}
.card-body i{
    color: black;
}
/* decoration */
.decoration h1{
    background-color: #e1f5e1;
    color: #315a39;
}
/* Faq */
.faq h1{
    background-color: #e1f5e1;
    color: #315a39;
}
.customFAQ{
    background-color: #e1f5e1
}
.customFAQ button{
    background-color: #dbe7da;

   border: 2px solid black;
}
/* contact */
.contact h1{
    background-color: #e1f5e1;
    color: #315a39;
}
.contact input, textarea{
    margin: 10px 0px;
    resize: none;
    padding: 5px 10px;
    border: none;
    background-color: rgb(211, 235, 207);
   
}
.contact button{
    background-color: #7a9f79;
    color: white; 
}
.contact button:hover{
    background-color:#579449;
}
/* footer */
footer{
    background-color:#0b1a0e;
}
footer .getApp{
    width: 150px;
   border: 1px solid white;
   border-radius: 10px;
   text-align: left;
   background-color: black;
}
footer i{
    font-size: 25px;
}
footer img{
    width: 50px;
    margin: 0;
    padding: 0;
}
footer small{
    font-size: 13px;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .banner img{
        height: 50vh;
    }
     .banner .carousel-caption {
      position:absolute;

    }
    .banner .carousel-caption h1{
        font-size: 25px;
    }
    #Packages .row .col-lg-3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Packages .card{
       
        width: 75%;
    }
    .contact .contact-parent {
        flex-direction: column;
    }
    .contact .contact-parent address{
        margin-top: 100px;
    }

  } 